@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card-shadow {
    box-shadow: 0 2px 10px $shadow-color;
}

@mixin respond-to($breakpoint) {

    @if $breakpoint == tablet {
        @media (min-width: $breakpoint-tablet) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }
}